/* To-do: 
    . responsiveness in mobile devices. 
    . english and russian translations
*/


body {
    color: #fff;
    background-color: #333;
}

.container {
    width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 4px;
}

.footer {
    background: #222;
    color: #999;
    padding: 5px;
}

.footer > p {
    text-align: center;
}

div {
    background-color: #777;
}

h1 {
    text-align: center;
    color: aquamarine;
}

h1, h2 {
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

h2 {
    margin-top: 40px;
}

p {
    font-size: 17px;
    text-align: justify;
}

li {
    padding-bottom: 10px;
}

img {
    border-radius: 10px;
}

.center {
    /* not working yet */
    text-align: center;
}

.img-size {
    width: 300px;
}

table {
    width: 100%;
    background: #7f7f7f;
}
tr, td {
    margin: 0px;
    border: 1px solid #999;
}

table span {
    /*  top/bottom: 1px 
        left/right: 20px */
    padding: 1px 20px; 
}

.size {
    width: 30%;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}